@media screen and (min-width:1200px){
    .container{
        max-width: 1158px;
    }
   
    


.section {
    padding: 120px 0 120px ;


 
}

.header {
    padding: 24px 0;
    border-width: 1px;
    border-color:var(--footer-text);
    border-bottom: 1px solid rgba(231, 233, 252, 1)
}

.header-container{
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right:auto;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
    margin-right: 76px;
}

.logo-span{
    color: var(--fiolet);
}

.header-list { 
    display: flex; 
    gap: 40px; 
}

.header-item {
}

.header-link {
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.header-link:hover,
.header-mail:hover,
.header-telephon:hover,
.header-mail:focus,
.header-telephon:focus,
.header-link:focus{
    color:var(--ocean);
    
}
.header-link.active{
    color: var(--ocean);
}
.header-link.active::after{
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color:var(--ocean);
    position: absolute;
    left: 0;
    bottom: -28px;
    
    

}

.header-adress { 
   

}

.header-adress-list  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 0px; 
 
}


.header-mail{
    color:var(--gray);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}

.header-telephon{
    color:var(--gray);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}




.advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color:var(--white-logo);
    width: 264px;
    height: 112px;
    border-radius: 4px;
}

.adventages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    
   
}

.adventages-list {
   
   
   
}

.adventages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gray);
}


.adventages-item {
    width: calc( (100% - 72px) / 4);
    
    
   
}

.what-we-doing-section {
    padding: 0 0 120px;
    display: block;
   
}


.what-we-doing-title {
    display: block;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.what-we-doing-list {
    display: flex;
    column-gap: 24px;


   

}


.what-we-doing-item {
    display: block;
    max-width: 100%;
    height: auto;
    width: calc((100% - 48px) / 3);
  

}

.what-we-doing-img,
.our-team-img{
    display: block;
    max-width: 100%;
    height: auto;
}

.our-team-list {
    display: flex;
    column-gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    max-width: 100%;


    
}


.our-team-item { 
   
    width: calc((100% - 75px) / 4);
    
}

.customers-container {
    padding: 0 15px;
    margin: 0 auto;
    
    
    
}

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
  
    
 

}

.customers-item {
    width:168px;
    height: 88px;
   
}



.customer-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--customer);
    border-radius: 4px;
    color: var(--customer);
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
   

}

.customer-image {
    fill: currentColor;
    
    
    
  
}

.customer-link:is(:hover, :focus){
    border: 1px solid var(--ocean);
    color: var(--ocean);
   
   

}

.footer {
    background-color:var(--brand-color); 
    background-position: center;
    padding: 100px 0;
    
    
}

.container-footer{
    display: flex;
    
   


    


}


.footer-social-section{
    margin-left: 120px;
    margin-right: 80px;
}

.hero-saction{
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bacground-imag/desktop-1x.jpg);
}

.header {
    padding: 24px 0;
    border-width: 1px;
    border-color:var(--footer-text);
    border-bottom: 1px solid rgba(231, 233, 252, 1)
}

.header-container{
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right:auto;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
    margin-right: 76px;
}

.logo-span{
    color: var(--fiolet);
}

.header-list { 
    display: flex; 
    gap: 40px; 
}

.header-item {
}

.header-link {
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.header-link:hover,
.header-mail:hover,
.header-telephon:hover,
.header-mail:focus,
.header-telephon:focus,
.header-link:focus{
    color:var(--ocean);
    
}
.header-link.active{
    color: var(--ocean);
}
.header-link.active::after{
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color:var(--ocean);
    position: absolute;
    left: 0;
    bottom: -28px;
    
    

}

.header-adress { 
   

}

.header-adress-list  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
 
}

.header-adress-link { 
   
    
}

.header-mail{
    color:var(--gray);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: unset; 
   
}

.header-telephon{
    color:var(--gray);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
}

.header-adress-link:last-child{
    margin-left: 40px;
}





}

@media (min-device-pixel-ratio),
(min-resolution:192dpi),
(min-resolution:2dpx){
    .hero-saction {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bacground-imag/desktop-2x.jpg);
  
    
    
   
    }


}




