    @media screen and (min-width:768px){
        .container{
            max-width: 766px;
            
    
        }

        .section {
            padding: 96px 0 96px ;
        
        
         
        }

        .section-sm {
            padding: 96px 0 96px ;
        
        
         
        }
        
        

        .header-list { 
            display: flex; 
            gap: 40px; 
        }

        .header-mail{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            
            
           
        }

        .header-telephon{
            
            color:var(--gray);
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.02em;
          
            
        }
        
        
        

     

        .header {
            padding: 24px 0;
            border-width: 1px;
            border-color:var(--footer-text);
            border-bottom: 1px solid rgba(231, 233, 252, 1);
            height: 72px;
        }



        .header-adress-list  {
            display: flex;
            align-items: center;
            justify-content: flex-end;
         
        }

        .header-link {
            font-weight:500;
            font-size: 16px;
            line-height: 1.5;
            position: relative;
            
            
        }

        .header-item {
            margin-bottom: 0;
        }

        .header-logo {
            display: block;
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.33;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--brand-color);
            margin-right: 76px;
        }
        
        


        .adventages-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.1;
            letter-spacing: 0.02em;
            min-width: 264px;
            text-align: left;
        }

        .advantages-icon {
            display: none;
            
        }

        .adventages-item {
            width: calc( (100% - 24px) / 2);
            
            
        
        }

        .adventages-list {
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
            row-gap: 72px;
            
        
        }

        .our-team-list {
            display: flex;
            column-gap: 24px;
            row-gap: 64px;
            flex-wrap: wrap;
            max-width: 552px;
        
        
            
        }

        .our-team-item { 
            width: calc((100% - 24px) / 2);
            
            
        }

        .customers-list {
            
            
        
        
        }

        .container-footer{
            display: flex;
            flex-wrap: wrap;
            row-gap: 72px;
            
            
        
        
        
            
        
        
        }

        .footer-logo {
          
            text-align: left;
        
        }

        .footer-logo-section{
            min-width: 264px;
            margin-left: 0;
            margin-right: auto;
            
        }

        .footer-social-title{
            
            text-align: left;
    
        }

        .footer-form-title{
           
            text-align: left;
        
        }
        

        .footer-social-section{
            margin-left: 24px;
            
        }


        .footer-section{
            display: flex;
        }

        .footer-form-group {
            display: flex;
            
            
            
        }

        .footer-input{
        
            min-width: 264px;
        }

        
        .hero-head {
            font-size: 56px;
            line-height: 1.07;
            
        }

        .customers-item {
            width:168px;
            height: 88px;
        
        }

        .hero-saction {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bacground-imag/tablet-1x.jpg);
        }

        .modal {
            width: 408px;
        
        
        }

        .nav-wrap-menu{
            background-color: transparent;
            max-width: unset;
            height: unset;
            position: static;
            display: flex;
            align-items: center;
           
        
            
            
        }
        

    
    }

    @media (min-device-pixel-ratio),
    (min-resolution:192dpi),
    (min-resolution:2dpx){
        .hero-saction {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bacground-imag/Dark-bg\ 2X.jpg);
    
        
        
    
        }


    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        .container-md{
            max-width:552px;
        }
        

        
        
    }

    
